<div class="col-lg-12" *ngIf="identity">
  <h1 class="h1-strong" style="text-align:center ;">Hola {{identity.name}}, bienvenido a Pepole </h1>
  <h3 style="text-align:center ; position: relative; top:-20px;">donde podrás contactarte con tus amigos</h3>
</div>

<div class="col-lg-12 text-center" *ngIf="!identity">
  <h2>Gracias por estar en Pepole</h2>
  <a class="btn btn-warning btn-lg mt-4" [routerLink]="['/login']"
  role="button">
    Iniciar Sesión
  </a>
</div>

<div class="col-lg-8 offset-lg-2 mt-2">
  <app-sidebar></app-sidebar>
</div>
