

<div class="navigation col-lg-12 shadow" >

  <nav class="navbar navbar-light"   >
    <div class="container">
      <div class="navbar-header">

        <a href="#" class="navbar-brand">
          <span class="material-icons">
            timeline
          </span>
          Pepole</a>
      </div>
      <ul class="navbar-nav me-auto" *ngIf="identity" >
        <li>
          <a href="#">
            <span class="material-icons-outlined">
              home
            </span>
            Inicio
          </a>
          <a [routerLink]="['/timeline']">
            <span class="material-icons-outlined">
              rss_feed
            </span>
            TimeLine
          </a>
          <a [routerLink]="['gente']">
            <span class="material-icons-outlined">
              groups
            </span>
            Gente
          </a>
        </li>
      </ul>


      <ul class="nav navbar navbar-right" >

        <ul class="navbar-nav d-flex" *ngIf="!identity">
          <li>

            <a [routerLink]="['/login']">
              <span class="material-icons-outlined" >
                login
              </span>
              Login
            </a>
            <a  [routerLink]="['/registro']">
              <span class="material-icons-outlined">
                person
              </span>
              Register
            </a>
          </li>
        </ul>

        <li class="avatar">
          <!-- cargar imagen de usuario-->
        </li>


         <div class="dropdown" *ngIf="identity" style="margin-right:50px;" >
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{url+'get-image-user/'+identity.image}}" class="header-img responsive-img"  alt="">

          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" >
            <li>
              <a class="dropdown-item" [routerLink]="['/login']">
                <span class="material-icons-outlined">
                  <span class="material-icons">
                    login
                    </span>
                </span>
                Login</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">
                <span class="material-icons-outlined">
                  <span class="material-icons">
                    perm_identity
                    </span>
                </span>
                Mi perfil</a>
            </li>
            <li>

              <a class="dropdown-item" [routerLink]="['/mis-datos']">
                <span class="material-icons-outlined">
                  contact_page
                </span>
                Mis datos</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="logout()" href="#">
                <span class="material-icons-outlined">
                  logout
                </span>
                Logout
              </a>
            </li>
          </ul>
        </div>

      </ul>


    </div>

  </nav>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
