<mat-drawer-container class="example-container " autosize>

  <mat-toolbar class="mat-elevation-z3">

    <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>

    <span>Pepole</span>

    <div class="example-spacer"></div>

    <div class="avatar-btn" [matMenuTriggerFor]="menu" style="cursor:pointer;">
      <img src="{{url + 'get-image-user/'+identity.image}}" class="avatar-img" alt="">
    </div>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Mi Perfil</span>
      </button>

      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-drawer #drawer class="sidenav mat-elevation-z4" mode="side" opened>

    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>

    <mat-list>
      <mat-list-item [routerLink]="['/home']" [routerLinkActive]="['active']" class="button-menu">
        <span class="material-icons icon-sidenav  ">
          home
        </span>
        Inicio
      </mat-list-item>
      <mat-list-item [routerLink]="['/timeline']" [routerLinkActive]="['active']" class="button-menu">
        <span class="material-icons icon-sidenav">
          view_timeline
        </span>
        Publicaciones
      </mat-list-item>
      <mat-list-item [routerLink]="['gente/', 1]" [routerLinkActive]="['active']" class="button-menu">
        <span class="material-icons icon-sidenav" >
          groups
        </span>
        Gente
      </mat-list-item>
     </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>



