<h3 class="offset-lg-1" style="position: relative; left:-99px;" >Usuarios Activos</h3>

<div class="d-flex justify-content-between ">

  <div class="row col-lg-8">

    <div class="list-group ">
      <div *ngFor="let user of users" class="list-group-item " >
        <div class="list-group">

            <div class="row user_name  ">

              <div class="image_user pull-left col-lg-2 " >
                <img src="{{url + 'get-image-user/'+ user.image}} " class="avatar-default"  alt="">
              </div>

              <a href="#" class="col-lg-2 data-user">
                <p>{{user.name+ '' + user.surname}}</p>
                <p style="position: relative; top:-20px;">{{user.nick}}</p>
              </a>

            </div>

            <!-- Seguir / dejar de seguir -->

          <div class="justify-content-end d-flex" style="position: relative; top:-40px;">
            <button class="btn btn-success" (click)="followUser(user._id)"  *ngIf="follows.indexOf(user._id) < 0">
              <span class="material-icons-outlined">
                add_circle
              </span>
              seguir
            </button>

              <button class="btn btn-danger"
              (click)="unfollowUser(user._id)"
              *ngIf="follows.indexOf(user._id) >= 0"

              (mouseenter)="mouseEnter(user._id)"
              (mouseleave)="mouseLeave(user._id)"
              [class.btn-danger]="user._id == followUserOver"
              >

                <span *ngIf="user._id == followUserOver; else following">
                  <span class="material-icons-outlined">
                    remove_circle
                  </span>
                  dejar de seguir
                </span>


                <ng-template #following>
                  <span class="material-icons-outlined">
                    check_circle
                  </span>
                  siguiendo
                </ng-template>


              </button>


          </div>


        </div>
      </div>
    </div>


    <div  class="pagination mt-4">
      <ul class="pagination" style="background: #fff;">
        <li class="page-item disabled"  *ngIf="page >= 1 ">
          <span  [routerLink]="['/gente', prev_page ]"class="page-link">Previous</span>
        </li>

        <li class="page-item" *ngIf="pages != page">
          <a class="page-link" [routerLink]="['/gente', next_page]" href="#">Next</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="row col-lg-4 ">
    <app-sidebar></app-sidebar>

  </div>



</div>
