.data-user{
  background-color: #fff;
}

.sidebar{
  position:relative ;
  top:-40px;
}

.nickname{
  padding: 1.3rem;
  text-align: center;
  font-size:1.3rem;
}

.submit{
  float:right;
}

.avatar{
  text-align: center;
}
