body{
  background-image:url('../assets/img/dust_scratches.png');
  font-family: 'Special Elite', cursive !important;

}

h2{
  font-family: 'Special Elite', cursive;
}

nav{

  background-color: #67cca2 !important;
  padding-bottom:18px !important;

}

a{
  color:#000 !important;
  text-decoration: none !important;
  margin-left:20px;
}

span{
  position: relative;
  top:4px;
}

.navbar-brand{
  color:rgb(196, 250, 220) !important;
}
